doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width')

        link(rel='stylesheet' href='css/main.min.css')

        link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
        link(rel="icon" href="images/favicon.ico" type="image/x-icon")

        title Meditation

        body
            include sections/header
            include sections/experience
            include sections/get
            include sections/price
            include sections/how
            include sections/program
            include sections/info
            include sections/coach
            include sections/guarantees
            include sections/testim
            include sections/price
            include sections/faq
            include sections/footer

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="js/main.min.js")