.contacts

    a.contact(href="mailto:hello@PSDFreebies.com")
        i.fa.fa-envelope-open.contact__icon.contact__icon--email(aria-hidden="true")
        span.contact__text hello@PSDFreebies.com

    a.contact(href="tel:85 26 37 48 59")
        i.fa.fa-phone.contact__icon(aria-hidden="true")
        span.contact__text 85 26 37 48 59