section#experience.experience
    .container
        .title
            h2.title__header.title--with-bottom-line About
            .title__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ne.
                br
                | Lorem ipsum dolor sit amet, consectetur adipiscing
                br
                | Lorem ipsum dolor sit
                br
                | Lorem ipsum dolor sit amet, consectetur
                br
                | Lorem ipsum dolor sit amet, consectetur adipiscing
        ul.experience__list
            li.experience__item
                .icon.icon-study
                h3.experience__header Experience
                p.experience__description.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus
                    ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
                    mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

            li.experience__item
                .icon.icon-book
                h3.experience__header.experience__header-book Knowledge
                p.experience__description.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus
                    ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
                    mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

            li.experience__item
                .icon.icon-planet
                h3.experience__header.experience__header-message Capabilities
                p.experience__description.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus
                    ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
                    mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
