section.faq__section#faq
    .container
        .title.title--with-bottom-line-faq
            h2.title__header FAQ

        .nav-wrapper
            nav.nav
                ul.nav-list.ul-reset
                    li.nav-item
                        .nav-item-inner
                            a.nav-item-inner-heading.plus(href='#')
                                h2.faq__header Lorem ipsum dolor sit
                            ul.nav-sub-list.ul-reset
                                .nav-sub-list-inner

                                    p Lorem ipsum dolor sit amet, consectetur adipiscing:
                                        br
                                        | - Lorem ipsum dolor sit amet
                                        br
                                        | - Lorem ipsum dolor sit amet
                                        br
                                        | - Lorem ipsum dolor sit amet

                    li.nav-item
                        .nav-item-inner
                            a.nav-item-inner-heading.plus(href='#')
                                h2.faq__header Lorem ipsum dolor sit
                            ul.nav-sub-list.ul-reset
                                .nav-sub-list-inner

                                    p.faq__description.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent
                                        libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
                                        imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper
                                        porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu
                                        ad litora torquent per conubia nostra, per inceptos himenaeos.

                    li.nav-item
                        .nav-item-inner
                            a.nav-item-inner-heading.plus(href='#')
                                h2.faq__header Lorem ipsum dolor sit
                            ul.nav-sub-list.ul-reset
                                .nav-sub-list-inner

                                    p.faq__description.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent
                                        libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
                                        imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper
                                        porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu
                                        ad litora torquent per conubia nostra, per inceptos himenaeos.

                    li.nav-item
                        .nav-item-inner
                            a.nav-item-inner-heading.plus(href='#')
                                h2.faq__header Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                            ul.nav-sub-list.ul-reset
                                .nav-sub-list-inner

                                    p.faq__description.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent
                                        libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
                                        imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper
                                        porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu
                                        ad litora torquent per conubia nostra, per inceptos himenaeos.

                    li.nav-item
                        .nav-item-inner
                            a.nav-item-inner-heading.plus(href='#')
                                h2.faq__header Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                            ul.nav-sub-list.ul-reset
                                .nav-sub-list-inner

                                    p.faq__description.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent
                                        libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
                                        imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper
                                        porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu
                                        ad litora torquent per conubia nostra, per inceptos himenaeos.



        h2.form__header Lorem ipsum dolor sit
        .btn-down: a.arrow-down(href="form.html" target="_blank"): i.fa.fa-angle-down


        .form-container.is-hidden
            form#form(action="send.php" method="post").form
                button(type="button").form__close-button x
                .form__text.
                    Lorem ipsum dolor sit

                .form__fields
                    input.form__input(type='text' placeholder="Your Name" autocomplete='text' name='name' required='required')
                    input.form__input(type="email" placeholder="Your email" autocomplete='email' name='email' required='required')
                    textarea.form__input(rows="10" cols="45" name="message" placeholder="Your message" required='required')
                    input#btn_form.button.button--form.button--text-uppercase(type='button' value="Submit")

