- var linkItems = ['facebook-official', 'instagram', 'linkedin']
- var linkUrls = ['facebook.com', 'instagram.com', 'linkedin.com']

footer.footer
    .footer__top
        .container
            .footer__title We in social
            .footer__links
                each item, key in linkItems
                    a.footer__social(href="http://" + linkUrls[key] target="_blank")
                        i(class="fa fa-" + item aria-hidden="true")
                            span.visually-hidden=linkItems

            //p.footer__text

    .footer__bottom
        .footer__copy Copyright © Meditation 2018