header.header#home
    .container
        .header__top

            a.logo Meditation <!--img.logo__picture(src="images/logo_2.jpg" alt="logo")-->
            include contacts
            //include nav
        include hero

