section.hero
    .hero__about Meditation
    h1 Lorem ipsum dolor
    h2.hero__title 25 June - 2 July 2018
        br
        |
    h3 8 Lorem ipsum
        br
        | 8 Lorem ipsum dolorи
        br
        | 8 Lorem ipsum dolor sit amet
    a#price_a.button.button--header.button--text-uppercase(href="#price") Submit