section#info.info
    .container
        .title.title--with-bottom-line
            h2.title__header Information
        ul.info__list
            li.info__item
                h3.info__header Lorem ipsum dolor sit amet,

                .info__description
                    br
                    | - Lorem ipsum dolor sit amet,
                    br
                    | - Lorem ipsum dolor sit amet,
                    br
                    | - Lorem ipsum dolor sit amet,
                    br
                    | - Lorem ipsum dolor sit amet,
                    br
                    | - Lorem ipsum dolor sit amet,

            li.info__item.info__item_time
                h3.info__header Time

                .info__description
                    br
                    | - Lorem ipsum dolor sit amet,
                    br
                    | - Lorem ipsum dolor sit amet,
                    br
                    | - Lorem ipsum dolor sit amet,