section#price.price
    .container
        .title.title--with-bottom-line
            h2.title__header Prices
        ul.price__list
            li.price__item
                h3.price__header Package
                    br
                    | GOOD
                .price__description Lorem ipsum dolor sit
                    hr
                    | Lorem ipsum dolor sit
                    hr
                    | Lorem ipsum dolor sit
                    hr
                    | Lorem ipsum dolor sit

                h3.price__header.total--good 63 Lorem/Lorem
                .price__description 500 Lorem ipsum dolor
                    hr
                    | 700 Lorem ipsum dolor

                a.button.button--header.button--text-uppercase(href="#" target="_blank") Submit

            li.price__item
                h2.recommend recommend
                h3.price__header Package
                    br
                    | BEST
                .price__description Lorem ipsum dolor sit
                    hr
                    | Lorem ipsum dolor sit
                    hr
                    | Lorem ipsum dolor sit
                    hr
                    | Lorem ipsum dolor sit

                h3.price__header.total--good 63 Lorem/Lorem
                .price__description 500 Lorem ipsum dolor
                    hr
                    | 700 Lorem ipsum dolor

                a.button.button--header.button--text-uppercase(href="#" target="_blank") Submit

            li.price__item
                h3.price__header Package
                    br
                    | PREMIUM
                .price__description Lorem ipsum dolor sit
                    hr
                    | Lorem ipsum dolor sit
                    hr
                    | Lorem ipsum dolor sit
                    hr
                    | Lorem ipsum dolor sit

                h3.price__header.total--good 63 Lorem/Lorem
                .price__description 500 Lorem ipsum dolor
                    hr
                    | 700 Lorem ipsum dolor

                a.button.button--header.button--text-uppercase(href="#" target="_blank") Submit