section#program.program
    .container
        .title.title--with-bottom-line
            h2.title__header Programm

        .accordion
            dt
                a Day 1
                    dd.accordion__text - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor

            dt
                a Day 2
                    dd.accordion__text - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor

            dt
                a Day 3
                    dd.accordion__text - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor

            dt
                a Day 4
                    dd.accordion__text - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor


            dt
                a Day 5
                    dd.accordion__text - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor

            dt
                a Day 6
                    dd.accordion__text - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor

            dt
                a Day 7
                    dd.accordion__text - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor

            dt
                a Day 8
                    dd.accordion__text - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor
                        br
                        | - Lorem ipsum dolor

        hr.program_hr