section.testimonials#testimonials
    .container
        .title
            h2.title__header.title--with-bottom-line-testim Testimonials

        .all_slider

            input#first(type='radio', name='nav', checked='')
            input#second(type='radio', name='nav')
            input#third(type='radio', name='nav')
            input#four(type='radio', name='nav')
            input#five(type='radio', name='nav')
            label.first(for='first')
            label.second(for='second')
            label.third(for='third')
            label.four(for='four')
            label.five(for='five')
            .one.slide
                blockquote
                    span.leftq.quotes “
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                    | cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
                    | Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
                    | nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    span.rightq.quotes &bdquo;
                img(src="images/pictures.jpg" alt="pictures.jpg")
                h2.name__testim Lorem Lorem
                h6.name__testim UI/UX Designer at Woof Design Studio
            .two.slide
                blockquote
                    span.leftq.quotes “
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                    | cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
                    span.rightq.quotes &bdquo;
                img(src="images/pictures.jpg" alt="pictures.jpg")
                h2.name__testim Lorem Lorem
                h6.name__testim Developer Relations at Woof Studios
            .three.slide
                blockquote
                    span.quotes.leftq  “
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                    span.rightq.quotes &bdquo;
                img(src="images/pictures.jpg" alt="pictures.jpg")
                h2.name__testim Lorem Lorem
                h6.name__testim CEO Woof Web Design Studios
            .four.slide
                blockquote
                    span.quotes.leftq  “
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                    | cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
                    | Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
                    span.rightq.quotes &bdquo;
                img(src="images/pictures.jpg" alt="pictures.jpg")
                h2.name__testim Lorem Lorem
                h6.name__testim CEO Woof Web Design Studios
            .five.slide
                blockquote
                    span.quotes.leftq  “
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                    | cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
                    | Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
                    | nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    | Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget
                    | nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    span.rightq.quotes &bdquo;
                img(src="images/pictures.jpg" alt="pictures.jpg")
                h2.name__testim Lorem Lorem
                h6.name__testim CEO Woof Web Design Studios